.meter { 
    text-align: center;
    height: 10px;
    position: relative;
    background: rgb(243, 239, 239);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.meter > span {
    
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;
}
.skill{
    line-height: 3.5vw;
}
.skill-bars{
    font-size: 28px;
    width: 40%;
}
.skills-container {
    height: 500px;
    display: flex;
    width: 90%;
    padding: 10px 10px;
    margin: 0px auto;
    margin-top: 0px;
}
.skills-container > * {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 200px 3;
    flex: 1 1 auto;
    margin-bottom: 30px;
    -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}


.skill-row{
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.skill-row .stars{
    transition: transform 0.3s ease-in-out;
}
.skill-row:hover {
    font-weight: bold;
}

.skill-row:hover > .stars{
    flex: 1.1;
    transform: scale(1.2);
    
}
.skills-image > img {
    margin-left: 80px;
    max-width: 90%;
    height: auto;
}

/* Media Query */

@media (max-width: 1456px) {
    .skills-bar {
        line-height: 4rem;
    }
    .skills-image {
        display: none;
        order: 2;
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column
    }
    .skills-bar {
        line-height: 1rem;
        margin: 10px;
    }
    .skills-image {
        display: none;
        order: 2;
    }
}
  